MULTIPLE_CADDY_GLOBAL=false

MINECRAFT_SERVER_ADDRESS=minecraft.example.com
MINECRAFT_ADMIN_SERVER_ADDRESS=minecraft-admin.example.com
MINECRAFT_DYNMAP_SERVER_ADDRESS=minecraft-dynmap.example.com

MINECRAFT_DATA_PATH=./docker

TZ=UTC