(common) {
	encode gzip zstd
}

(common_tls) {
	{$TLS_CONFIG}
}

https://{$MINECRAFT_ADMIN_SERVER_ADDRESS} {
	import common
	import common_tls

	reverse_proxy https://crafty:8443 {
		transport http {
			tls_insecure_skip_verify
		}

		header_up Host {host}
		header_up X-Real-IP {remote_host}
	}
}

https://{$MINECRAFT_DYNMAP_SERVER_ADDRESS} {
	import common
	import common_tls

	reverse_proxy crafty:8123  {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
	}
}